// style.css
@import 'page-content';



/// Horizontal Scroll
.horizontal-scroll{
    /// Vars
    $black: black;
    $white: white;
    $red: #c22033;
    $lgreen: #67baaf;
    $dgreen: #007c89;
    $tan: #c7b683;
    /// Mixins
    @mixin border($width, $color){
    border: $width solid $color;
    }
    @mixin button($background-color, $color){
        text-decoration: none;
        color: $color;
        background-color: $background-color;
        transition: background-color 0.3s ease;
        padding: 10px 40px;
        display: block;
        text-align: center;
        margin: .5em;
        text-transform: uppercase;
        &:hover{
            background-color: $color;
            color: $background-color;
        }
    }


    .hide{display:none;}
    
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1em;
    background: $tan;
    max-width: 80em;
    margin: 2em auto;
    @include border(2px, $tan);

    .box{
        width: 400px;
        background-color: $white;
        margin: 1em;
        overflow: hidden;
        img{
            width: 100%;
            min-height: 275px;
            max-height: 275px;
        }
        iframe{
            @include border(2px, $white);
        }
       .text{
            padding: .5em 1em;
            h3{
                font-size: 1.5rem;
                padding: 0;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p{
                font-size: 1rem;
            }
            .button{
                @include button($black, $white);
                @include border(1px, $black);
            }
       }
    }
}
@media screen and (min-width: 800px){
    .horizontal-scroll{
        .box{
            width: 800px;
            img{
                max-height: unset;
            }
        }
    }
}