html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html p, body p {
  font-size: 1.125em;
  line-height: 1.65em;
  color: #333333;
  font-weight: 300;
}
html h3, body h3 {
  color: #c22033;
  font-weight: 500;
  font-size: 1.25em;
}

.horizontal-scroll {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1em;
  background: #c7b683;
  max-width: 80em;
  margin: 2em auto;
  border: 2px solid #c7b683;
}
.horizontal-scroll .hide {
  display: none;
}
.horizontal-scroll .box {
  width: 400px;
  background-color: white;
  margin: 1em;
  overflow: hidden;
}
.horizontal-scroll .box img {
  width: 100%;
  min-height: 275px;
  max-height: 275px;
}
.horizontal-scroll .box iframe {
  border: 2px solid white;
}
.horizontal-scroll .box .text {
  padding: 0.5em 1em;
}
.horizontal-scroll .box .text h3 {
  font-size: 1.5rem;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.horizontal-scroll .box .text p {
  font-size: 1rem;
}
.horizontal-scroll .box .text .button {
  text-decoration: none;
  color: white;
  background-color: black;
  transition: background-color 0.3s ease;
  padding: 10px 40px;
  display: block;
  text-align: center;
  margin: 0.5em;
  text-transform: uppercase;
  border: 1px solid black;
}
.horizontal-scroll .box .text .button:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 800px) {
  .horizontal-scroll .box {
    width: 800px;
  }
  .horizontal-scroll .box img {
    max-height: unset;
  }
}